// color's name 
$endeavour: #005EA5;
$sambuca: #38120F;
$tussock: #BC923F;

// Font sizes
$base: 1rem;
$scale: 1.250;

// Fonts
$sans-serif: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
$title-font: 'Montserrat', Helvetica, Arial, sans-serif;

// colors
$rating-color: $tussock;
$primary-color: $sambuca;
$primary-font-stack: $sans-serif;
$hyperlink-color: $endeavour;

