@import '../../sass/variables';
@import '../../sass/functions';

.btn {
  box-sizing: border-box;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  cursor: pointer;
  font-family: $primary-font-stack;
  font-weight: $font-weight--bold;
  color: #ffffff;
  display: block;
  width: 100%;
  font-size: getSize($base, $scale, 1);
}