@import '../../sass/variables';
@import '../../sass/functions';

.searchField {
  position: relative;
  width: 100%;
}

.searchField__btn {
  position: absolute;
  cursor: pointer;
  border: 0;
  padding: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 50px;
}

.searchField__icon {
  fill: #ffffff;
  width: 100%;
  max-width: 17.5px;
  height: auto;
  margin-right: 8px;
}

.searchField__input {
  box-sizing: border-box;
  border: 0;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.41em;
}