@import '../../sass/variables';
@import '../../sass/functions';

.searchField {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.searchField > label {
  font-size: getSize($base, $scale, 3);
  width: 100%;
}

.searchField > input {
  flex-grow: 2;
  width: 75%;
}

.searchField > button {
  max-width: 50px;
  width: 20%;
}

.searchField__icon {
  max-width: 20px;
  fill: #ffffff;
}